<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Diseño en construcción</title>
    <style>
        body{
            height: 100vh;
        }
    </style>
</head>
<body class="bg-primary bg-gradient">
    <section class="col-8 h-25 my-auto mx-auto bg-primary bg-opacity-25">
        <div class="d-flex">
            <img src="img/logoDefault.png" alt="" class="w-25 w-25">
            <img src="img/logoDefault.png" alt="" class="w-25 w-25">
            <img src="img/logoDefault.png" alt="" class="w-25 w-25">
        </div>
        <h1>Sitio web en construcción</h1>
        <h3>Esta pagina web se encuencuentra en etapa de desarrollo</h3>
    </section>
</body>
</html>
